<!--  views/admin/settings.ejs -->
<div class="row">
  <div class="col-12">
    <div class="template-demo">
      <form action="/admin/settings" method="POST" class="needs-validation" novalidate>
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="mb-0">Contact Number Settings</h5>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="contact_number" class="form-label">Contact Number</label>
              <input type="tel" class="form-control" id="contact_number" name="contact_number"
                value="<%= settings.contact_number || '' %>" placeholder="0300-1122334">
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            <h5 class="mb-0">Mailer / Notification Settings</h5>
          </div>
          <div class="card-body">
            <div class="form-check form-switch my-3">
              <input class="form-check-input" type="checkbox" id="notify_after_signin" name="notify_after_signin"
                <%=settings.notify_after_signin ? 'checked' : '' %>>
              <label class="form-check-label" for="notify_after_signin">Notify after sign in</label>
            </div>
            <div class="form-check form-switch mb-3">
              <input class="form-check-input" type="checkbox" id="notify_contact_submission"
                name="notify_contact_submission" <%=settings.notify_contact_submission ? 'checked' : '' %>>
              <label class="form-check-label" for="notify_contact_submission">Notify When New “Contact Us” Submission
                Arrives</label>
            </div>

            <div class="mb-3">
              <label for="notification_method" class="form-label">Notification Method</label>
              <select id="notification_method" name="notification_method" class="form-select mb-2">
                <option value="email" <%=settings.notification_method==='email' ? 'selected' : '' %>>Email</option>
                <option value="discord" <%=settings.notification_method==='discord' ? 'selected' : '' %>>Discord
                </option>
              </select>
              <div class="alert alert-danger">
                <p>
                  <small>
                    <i class="fas fa-exclamation-triangle"></i>
                    <b>NOTE:</b> Notification settings are currently set to
                    <code><%= settings.notification_method %></code>.
                    <ul>
                      <li>Email: <code><%= settings.notification_email || 'ibctank.team@gmail.com' %></code></li>
                      <li>Discord: <code><%= settings.notification_endpoint || 'Not Set' %></code></li>
                    </ul>
                  </small>
                </p>
              </div>
            </div>
            <%if(!settings.notification_endpoint){%>
              <div class="mb-3">
                <label for="notification_endpoint" class="form-label">Webhook</label>
                <input type="text" class="form-control" id="notification_endpoint" name="notification_endpoint"
                  placeholder="Discord Webhook URL or Admin Email" value="<%= settings.notification_endpoint || '' %>">
              </div>
              <%}%>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            <h5 class="mb-0">Price Currency Settings</h5>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="price_currency" class="form-label">Currency</label>
              <input type="text" class="form-control" id="price_currency" name="price_currency"
                value="<%= settings.price_currency || '' %>" placeholder="PKR, USD, EUR">
            </div>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-header">
            <h5 class="mb-0">Editor Settings</h5>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="tinymce_api_key" class="form-label">Accss key</label>
              <input type="text" class="form-control" id="tinymce_api_key" name="tinymce_api_key"
                value="<%= settings.tinymce_api_key || '' %>" placeholder="Access key">
            </div>
          </div>
        </div>

        <div class="text-end">
          <button type="submit" class="btn btn-lg btn-primary">Save Settings</button>
        </div>
      </form>
    </div>
  </div>
</div>