<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Abdul Qadeer, Zaheer Ahmed, Kafil Anwer">
    <meta name="description" content="IBC Tank Store's Public Site">
    <title>
      <%= title %> | IBC Tank Store
    </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" /><!-- Link Swiper's CSS -->
    <link href="/img/favicon.ico" rel="icon">
    <link href="/img/favicon.ico" rel="apple-touch-icon">
    <script src="/js/notification.js"></script>

    <link href="/img/favicon.ico" rel="icon">
    <link href="/img/favicon.ico" rel="apple-touch-icon">
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-L32FERKX51"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-L32FERKX51');
  </script>

  <body>
    <%- include('../public/partials/_header')%>
    <%- include('../shared/_alerts') %>
    <main class="mx-lg-5 p-0 py-4">
      <div class="container mb-5">
        <%- body %>
      </div>
    </main>
    <%- include('../public/partials/_footer')%>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </body>

</html>